{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    body{
        background-color : #293B9C;
    }
    .navbar-custom.top-nav-collapse {
        background-color: #293B9C !important;
    }
    .copyright{
        background-color: #293B9C !important;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div style="text-align : center;">

<img src="{%static 'images/합격.png' %}", style="margin-top: 40px; position:relative;">
<a href="https://likelionhufs10th.notion.site/1-fc7e4b8b5c8747fdae1f3193d7003742"
    
><p style="
    color: rgb(47, 16, 133);
    font-size: 2.0em;
    font-weight: bold;
    font-family: anne;
    
    position:absolute;
    top:660px;
    left:57%;

    ">과제 및 면접 안내 바로가기</p>
    

    </a>
</div>

<div class="anne">



</div>

{% endblock %}